/Carbon/bin/coreclr
/Carbon/bin/fullclr
**/obj/**
**/.vs/**
Source/**/bin/**
Source/*.suo
Source/.*.user
Source/_ReSharper*
Source/Carbon.snk
Source/**/*.user
*.pdb
Test\MSI\setup.exe
*.snk
*.nupkg
.output/**
PSModules/**
packages/**
Website/**
/Test/MSI/*.tmp
/Test/MSI/setup.exe
/Test/MSI/*.msi
/Source/CarbonTestInstaller/Debug
/Source/CarbonTestInstaller/Release
/Source/CarbonTestInstallerWithCustomActions/Debug
/Source/CarbonTestInstallerWithCustomActions/Release
Carbon/LICENSE.txt
Carbon/NOTICE.txt
*.orig
/.vscode/**
/.dotnet*