* 
{
	font-family: Calibri, Helvetica, sans-serif;
}

body
{
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	background-color: cornflowerblue;
	background-color: lavender;
	background-color: lightblue;
	background-color: lightsteelblue;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Cambria, Georgia, serif;
	clear:both;
}
	
kbd
{
	font-family: Consolas, Monaco, monospace;
	font-size: 11pt;
}

code
{
	font-family: Consolas, Monaco, monospace;
	font-size: 11pt;
}

pre
{
	background-color: lightgrey;
	background-color: navy;
	color: white;
	border: 1px solid black;
	margin:0;
	padding: 1em;
	white-space: pre-line;
}

p, td, div
{
	font-size: 12pt;
}

div.Footer
{
	font-size: 10pt;
	margin-top:3em;
	border-top: 1px solid black;
	padding-top: 1em;
	padding-bottom: 3em;
}

ul#SiteNav
{
	font-size: 10pt;
	margin:0;
	margin-bottom: 0pt;
	padding:0;
	height: 14pt;
}

ul#SiteNav li
{
	list-style-type: none;
	float:left;
	display:block;
	margin:0;
	margin-right: .5em;
	padding:0;
}

body
{
	width: 800px;
	margin: 0;
	padding-left: 17em;
	margin-top: 1em;
}

div#CommandMenuContainer
{
	font-size: 10pt;
	width: 20em;
	position: absolute;
	left: 0px;
	top: 1.2em;
}

div#CommandMenuContainer h1
{
    font-size: 10pt;
    margin-bottom: 0;
    padding-bottom: 0;
}

ul#CategoryMenu
{
	margin: 0;
	padding: 0;
	padding-left: .5em;
	list-style-type: none;
}

ul#CategoryMenu > li
{
	font-weight:bold;
}

ul.CommandMenu
{
    margin-top: 0;
	margin-bottom: .5em;
	padding-left: 1.5em;
	list-style-type: disc;
}

pre code 
{
	white-space: pre-wrap;
}

pre.Syntax
{
	margin-bottom: 1em;
}
