
body
{
    background-color: lightsteelblue;
}

ul#CommandsMenu li a
{
    color: black;
}

#CommandsMenu li 
{
    background-color: lightslategray;
}

ul#CommandsMenu li.selected
{
    background-color: lightsteelblue;
}

table#Parameters td
{
    border: 1px solid darkgray;
}