* 
{
	font-family: Calibri, Helvetica, sans-serif;
}

body
{
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	background-color: cornflowerblue;
	background-color: lavender;
	background-color: lightblue;
	background-color: lightsteelblue;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Cambria, Georgia, serif;
	clear:both;
}
	
kbd
{
	font-family: Consolas, Monaco, monospace;
	font-size: 11pt;
}

code
{
	font-family: Consolas, Monaco, monospace;
	font-size: 11pt;
}

pre
{
	background-color: lightgrey;
	background-color: navy;
	color: white;
	border: 1px solid black;
	margin:0;
	padding: 1em;
	white-space: pre-line;
}

p, td, div
{
	font-size: 12pt;
}

div.Footer
{
	font-size: 10pt;
	margin-top:3em;
	border-top: 1px solid black;
	padding-top: 1em;
	padding-bottom: 3em;
}

ul#SiteNav
{
	font-size: 10pt;
	margin:0;
	margin-bottom: 0pt;
	padding:0;
	height: 14pt;
}

ul#SiteNav li
{
	list-style-type: none;
	float:left;
	display:block;
	margin:0;
	margin-right: .5em;
	padding:0;
}

#CommandsMenu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#CommandsMenu li 
{
    float: left;
    border: 1px solid #9DAEC4;
    border-bottom-width: 0;
    margin: 0em 0.5em 0em 0.5em;
}

#CommandsMenu a 
{
    text-decoration: none;
    display: block;
    background: #A7BAD1;
    padding: 0.24em 1em;
    color: #00c;
    width: 8em;
    text-align: center;
}

#CommandsMenu a:hover 
{
    background: #C5D0DD;
}

#CommandsMenu .selected 
{
    border-color: black;
}

#CommandsMenu .selected a 
{
    position: relative;
    top: 1px;
    background: white;
    background-color: lightsteelblue;
    color: black;
    font-weight: bold;
}

#CommandsContent 
{
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
}

#ByName, #ByVerb
{
    display: none;
}

#ByName 
{
    margin-top: 1.3em;
}

#ByName ul
{
    list-style-type: none;
}

#ByName ul li
{
    padding: .15em 0 .15em 0;
}
