<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="help -> documentation.html" stopProcessing="true">
                    <match url="^help/?$" />
                    <action type="Redirect" url="documentation.html" redirectType="Permanent" />
                </rule>
                <rule name="help/index.html -> documentation.html" stopProcessing="true">
                    <match url="^help/index.html$" />
                    <action type="Redirect" url="documentation.html" redirectType="Permanent" />
                </rule>
                <rule name="help/*.html -> *.html" stopProcessing="true">
                    <match url="^help/(.+\.html)$" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>